.main{
  flex: 1;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#0038FF, #0DBAFF);
}
.container{
  width: 25rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container img{
  width: 15rem;
  margin-bottom: 3rem;
}
.container h2{
  color: #fff;
  margin: 0;
}
.labelSenha{
  width: 25rem;
  margin-top: 1.3rem;
}
.container .labelSenha:nth-child(4){
  margin-bottom: 1.7rem;
}
.labelSenha p{
  color: white;
  font-size: 1rem;
  margin: 0;
  margin-left: 15%;
}
.labelSenha input{
  width: 70%;
  height: 2rem;
  border: none;
  font-size: 1.3rem;
  margin-left: 15%;
  border-radius: .5rem;
}
.changeSenha{
  width: 12rem;
  height: 3rem;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  border-radius: .2rem;
  background-image: linear-gradient(90deg, #FF9F1C , #FFBF69, #FF9F1C);
}