.servicos hr{
  height: 95%;
  margin: 0 1em 0 0;
  border-radius: 10em;
  border: #0038FF solid .1em;
  background-color: #0038FF;
}

.mainServico{
  flex: 1;
  
}
.mainServico p{
  margin: 0;
}


  .servicos{
    width: 97%;
    height: 88%;
    padding-left: 3%;
    /* background-color: red; */
    display: flex;
  }
  .acharServicos{
    width: 49%;
    height: 100%;
    /* background-color: pink; */
  }
  .filtrosAgenda{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: pink; */
  }
  .filtrosAgenda p{
    margin-bottom: 1em;
  }

  .botaoCont{
    display: flex;
  }
  .filtrosDias{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    /* background-color: pink; */
  }
  .filtrosDias h2{
    margin: 0;
    margin-top: .9em;
  }
  .filtros p{
    font-weight: 1000;
    margin-bottom: .2em;
    
  }
  .calendario{
    margin-top: 3em;
    display: flex;
    text-align: center;
  }

   .botao button{
    padding: .2em .3em;
    background-color: #FF9F1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 2em;
    border: none;
    border-radius:.3em; 
    box-shadow: .2em .2em .3em #00000080;
  }



   .botao button:hover{
    background-color: #c57205 ;
    transition: .1s;
  }

  .botao img{
    width: 2em;
  }

  .botaoRemover{
    display: flex;
    margin-top:1.7em;
    align-items: flex-end;
    margin-left: 1em;
    background-color:#FFBF69;
    height: 2em;
    align-items: center;
    border-radius: .3em;
    width: 8em;
    box-shadow: .2em .2em .2em #00000090;
  }

  .botaoRemover button{
    padding: .2em .3em;
    background-color: #FF9F1C;
    display: flex;
    
    align-items: center;
    cursor: pointer;
    
    border: none;
    border-radius:.3em; 
    box-shadow:.3em .0em .3em #00000080; 
  }

  .botaoRemover img{
    width: 2em;
  }

  .botaoRemover button:hover{
    background-color: #c57205 ;
    transition: .1s;
  }

   .botaoRemover p{
   margin-left: 1em;
  } 
  
  .mainDias{
    width: 40%;
    height: 95%;
    margin-left: 1em;
    overflow-y: scroll;
  }
  .mainDias::-webkit-scrollbar-thumb {
    background: #0038FF;
  }
  .mainDias h2{
    margin: .9em 0 0 0;
  }
  .mainConteudo{
    height: 5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 5em; */
  }

  .mainEditar{
    display: flex;
  }
  .mainEditar h2{
    margin: .3em 0 .5em 0;
  }

  .horario{
    padding: 0 .7em;
    background-color: #0038FF;
    border-radius: .3em;
    box-shadow: .2em .2em .5em #00000099;
    display: flex;
    align-items: center;
    margin-left: .5em;
    
  }
  .horario p{ 
    margin: 0 .5em 0 0;
    color: white;
  }

  .conteudoEdit{
    display: flex;
  }

  .d{
    display: flex;
    align-items: center;
    /* margin-left: 1em; */
    /* background-color: pink;     */
  }

  .horario img{
    height: 1.5em;
    margin-left:0.5;
    
  }

  .horario2{
    background-color: #0038FF;
    border-radius: .3em;
    box-shadow: .2em .2em .5em #00000099;
    display: flex;
    align-items: center;
    margin-left: .5em;
    padding: 0 .7em;
  }
  .horario2 p{ 
    margin: 0 .5em 0 0;
    color: white;
  }

  .conteudoEdit2{
    display: flex;
  }

  .a{
    display: flex;
    margin-left: .5em;
    /* background-color: pink; */
    align-items: center;
  }

  .horario2 img{
    height: 1.5em;
    margin-left:0.5;
  }

  .conteudoEdit button{
    padding: .2em .3em;
    background-color: #0038FF;
    display: flex;
    cursor: pointer;
    border: none;
    border-radius:.3em; 
    box-shadow: .2em .2em .3em #00000080;
    margin-left: 1em;
  }

  .conteudoEdit button:hover{
    background-color: #072fc0 ;
    transition: .1s;
  }

  .conteudoEdit .imgMais{
    width: 2em;
  }

  .botaoConfirmar{
  margin: 3em 0 1em 0;
  display: flex;
  /* justify-content: flex-end; */
  width: 100%;
  }

  .disponivel h2{
    margin-bottom: .3em;
  }

  .listaHorario{
    margin-top: 1em;
    padding: .5em 0;
  }

  .botaoDisponivel{
    margin-bottom: 2em;
  }

  .botaoDisponivel .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .botaoDisponivel .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .botaoDisponivel .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .botaoDisponivel .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .botaoDisponivel .switch input:checked + .slider {
    background-color: #1ACD36;
  }
  
  .botaoDisponivel .switch input:focus + .slider {
    box-shadow: 0 0 1px #1ACD36;
  }
  
  .botaoDisponivel .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  



 
  


  
  
  
  

  