.servicos hr{
  margin: 0;
  background-color: #00A3FF;
}

.mainServico{
  flex: 1;
  
}
.mainServico p{
  margin: 0;
}
  .servicos{
    width: 97%;
    height: 88%;
    padding-left: 3%;
    /* background-color: red; */
    display: flex;
  }
  .acharServicos{
    width: 49%;
    height: 100%;
  }
  .filtrosAgenda{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: pink; */
  }
  .filtrosAgenda p{
    margin-bottom: 1em;
  }

  .botaoCont{
    display: flex;
  }
  .filtrosDias{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    /* background-color: pink; */
  }
  .filtros p{
    font-weight: 1000;
    margin-bottom: .2em;
    
  }
  .calendario{
    margin-top: 3em;
    display: flex;
    text-align: center;
  }

   .botao button{
    padding: .2em .3em;
    background-color: #f9a83d;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 2em;
    border: none;
    border-radius:.3em; 
    box-shadow: .2em .2em .3em #00000080;
  }



   .botao button:hover{
    background-color: #c57205 ;
    transition: .1s;
  }

  .botao img{
    width: 2em;
  }

  .botaoRemover{
    display: flex;
    margin-top:1.7em;
    align-items: flex-end;
    margin-left: 2em;
    background-color:#FFBF69;
    height: 2em;
    align-items: center;
    border-radius: .3em;
    width: 8em;
    
  }

  .botaoRemover button{
    padding: .2em .3em;
    background-color: #f9a83d;
    display: flex;
    
    align-items: center;
    cursor: pointer;
    
    border: none;
    border-radius:.3em; 
    box-shadow:.3em .0em .3em #00000080; 
  }

  .botaoRemover img{
    width: 2em;
  }

  .botaoRemover button:hover{
    background-color: #c57205 ;
    transition: .1s;
  }

   .botaoRemover p{
   margin-left: 1em;
  } 

  .mainConteudo{
    margin-left: 1em;
    margin-top: 5em;
  }

  .mainEditar{
    margin-left: 1em;
    display: flex;
    
  }

  .horario{
    background-color: #00A3FF;
    width: 5em;
    height: 2em;
    display: flex;
    align-items: center;
    margin-left: 1em;
  }

  .d{
    display: flex;
    margin-left: 1em;
  }
  


  
  
  
  

  