.main{
    display: flex;
    background: #f1f1f1;
  }
  .logo{
    width: 50%;
    height: 100vh;
    background: url('../../assets/img/acesso.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .voltar{
    width: 13%;
    height: 15%;
    display: flex;
    align-items: center;
  }
  .bolinha{
    width: 100%;
    height: 60%;
    border-radius: 50%;
    background: #FF9F1C;
    margin-left: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bolinha img{
    width: 70%;
  }
  .logo .imgContainer{
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo .imgContainer img{
    width: 60%;
  }
  .form{
    /* width: 50%; */
    height: 100vh;
    padding-left: 7%;
    /* background: #FF9F1C; */
    display: flex;
    align-items: center;
  }
  
  