.mainServico{
  flex: 1;
}
.mainServico p{
  margin: 0;
}
.servicos{
  width: 97%;
  height: 88%;
  padding-left: 3%;
  display: flex;
}
.acharServicos{
  width: 49%;
  height: 100%;
}
.filtros{
  width: 100%;
  height: 30%;
}
.filtros p{
  font-weight: 600;
  margin-bottom: .2em;
}
.inputDiv{
  width: 60%;
  height: 2em;
  background-color: #f1f1f1;
  border-radius: .5em;
  border: .1em solid #FF9F1C;
  padding: 0 1%;
  margin-bottom: 1.5em;
  box-shadow: 0 0.2em .2em #00000050;
  display: flex;
  align-items: center;
}
.inputDiv input{
  width: 90%;
  height: 90%;
  background-color: #f1f1f1;
  border: none;
}
.inputDiv input:focus{
  outline: none;
}
.inputDiv img{
  margin-left: 2%;
  width: 7%;
}
.selectDiv{
  width: 40%;
  background-color: #FFBF69;
  position: relative;
  border-radius: .5em;
  box-shadow: 0 .2em .2em #00000050;
}
.selectDiv select{
  font-size: 1rem;
  padding: .4em;
  width: 100%;
  border-radius: .5em;
  background-color: #FFBF69;
  border: 0;
  cursor: pointer;
}
.selectDiv select:focus{
  outline: none;
}
.setaPersonalizada{
  background-color: #FF9F1C;
  display: block;
  width: 1.9em;
  height: 100%;
  border-radius: 0.4em;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: -.1em 0 .1em #00000030;
  display: flex;
  align-items: center;
  justify-content: center;  
  pointer-events: none;
}
.setaPersonalizada img{
  width: 40%;
}
.servicosDisponiveis{
  width: 100%;
  height: 70%;
  /* background-color: pink; */
}
.servicosDisponiveis fieldset{
  width: 80%;
  height: 84%;
  border-radius: .2em;
  overflow-y: scroll;
  border: .1em solid #FF9F1C;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.carrega{
  border-radius: 99999px;
  width: 1.5em;
  height: 1.5em;
  border-top: #FF9F1C solid .2em;
  border-right: #FF9F1C solid .2em;
  border-left: #FF9F1C solid .2em;
  border-bottom: #fff solid .2em;
  animation: loading 1s infinite linear;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    }
}
.servicosDisponiveis legend{
  font-weight: 600;
  padding: 0 1em;
  margin: 0 .5em;
}
.servicos hr{
  height: 95%;
  margin: 0;
  background-color: #0038FF50;
  border: .05em solid #0038FF50;
}
.mostrarServico{
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.mostrarServico h2{
  margin: 0;
}